@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body {
  font-family: "Pretendard Variable", "Pretendard", "NanumGothic", "nanum-square-round-otf", serif;
  min-width: 1500px;
}

.menu-button {
  width: 100%;
  text-align: left;
}

.sidebar-style {
  width: 220px;
  max-width: 220px;
  flex: 0 0 250px;
  padding: 0;
}


/* FullCalendar */

.fc {
  font-size: 0.85em; /* 기본 글자 크기의 85%로 설정 */
}

.fc-day a {
  color: #ddd;
}

.fc-day-sun a .day-number, .fc-day-sat a .day-number, .holiday {
  color: #b21f2b;
}

.fc-col-header-cell a, .fc-daygrid-day-top a {
  text-decoration: none;
}

.fc-daygrid-day-top {
  display: block !important;
  padding: 5px;
}

.anniversary-name {
  margin-right: 5px;
}

.day-number {
  float: right;
}

.fc-daygrid-event-harness > a {
  overflow: hidden;
}

/* @szhsin/react-menu */
.szh-menu-container {
  font-size: 0.85em;
}

/* react-datepicker*/

.form-control .react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.ledger-table .react-datepicker-wrapper {
  display: block;
}

/* 특정 컴포넌트에 의존되지 않은 설정 */

.table-font-size {
  font-size: 0.90em;
}

.table-th-center th {
  text-align: center;
}

.small-text-button {
  font-size: 0.75rem;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

.menu .me-2 {
  margin-bottom: 3px;
}

td {
  vertical-align: middle;
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}
