body {
  font-family: "나눔스퀘어라운드OTF", "nanum-square-round-otf", serif;
}

.menu-button {
  width: 100%;
  text-align: left;
}
.sidebar-style {
  width: 250px;
  max-width: 250px;
  flex: 0 0 250px;
  padding: 0;
}
