body {
  font-family: "나눔스퀘어라운드OTF", "nanum-square-round-otf", serif;
  min-width: 1500px;
}

.menu-button {
  width: 100%;
  text-align: left;
}

.sidebar-style {
  width: 250px;
  max-width: 250px;
  flex: 0 0 250px;
  padding: 0;
}


/* FullCalendar */

.fc {
  font-size: 0.85em; /* 기본 글자 크기의 85%로 설정 */
}

.fc-day a {
  color: #ddd;
}

.fc-day-sun a .day-number, .fc-day-sat a .day-number, .holiday{
  color: #b21f2b;
}

.fc-col-header-cell a, .fc-daygrid-day-top a {
  text-decoration: none;
}
.fc-daygrid-day-top {
  display: block!important;
  padding: 5px;
}
.anniversary-name {
  margin-right: 5px;
}
.day-number {
  float: right;
}
