.color-theme-basic {
  background-color: #191c24;
  color: #ffffff;
}

.color-theme-top {
  background-color: #333;
  color: #ffffff;
}

.color-theme-left {
  background-color: #191c24;
  color: #ffffff;
}

.color-theme-content {
  background-color: #191c24;
  color: #ffffff;
}

.color-theme-content-bg {
  background-color: #000;
  color: #ffffff;
}

.custom-btn {
  background-color: #343a40;
  border-color: #343a40;
}

.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
  background-color: #23272b;
  border-color: #23272b;
}

.custom-btn-navy {
  background-color: #004175;
  border-color: #004175;
}

.custom-btn-navy:hover, .custom-btn-navy:focus, .custom-btn-navy:active {
  background-color: #004175;
  border-color: #004175;
}

/* FullCalendar */

.fc-day-disabled {
  background-color: #23272b !important;
}

.cal-select {
  background: #004141;
}

.fc .fc-scrollgrid-section-sticky > * {
  background-color: #33394a;
}

input[readonly] {
  background-color: #333;
}

.modal-content {
  border-color: #666;
}

.modal-header {
  border-bottom: 1px solid #666; /* 원하는 색상 코드로 변경 */
}

.modal-footer {
  border-top: 1px solid #666; /* 원하는 색상 코드로 변경 */
}

/* 입력 폼 */
.error {
  color: #e69900;
  font-size: 0.9rem;
}

/* DarkNav.css */
.nav {
  background-color: #343a40; /* 다크 배경 색상 */
  color: #ffffff; /* 글자 색상 */
}

.nav .nav-link {
  color: #ffffff; /* 탭 링크 글자 색상 */
}

input.form-control, input.form-check-input {
  background-color: #333;
  color: white;
  border-color: #666;
}

input.form-control:focus {
  background-color: #454545;
  color: white;
  border-color: #888;
  outline: none;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.account-spending {
  color: #00bb33 !important;;
}

.account-income {
  color: #ff99cc !important;;
}

.account-transfer {
  color: #66ccff !important;;
}

.account-buy {
  color: #ff6942 !important;
}

.account-sell {
  color: #1b61d1 !important;;
}

.account-exchange {
  color: #add8e6 !important;;
}

.account-memo {
  color: grey !important;;
}

.info td {
  background-color: #092f17;
}
.success td {
  background-color: #101f2f;
}

/* SweetAlert2 다크 모드 스타일 */
.swal2-popup {
  background-color: #333;
  color: #fff;
}

.swal2-title {
  color: #fff;
}

.swal2-close {
  color: #fff;
}

.swal2-styled.swal2-confirm {
  background-color: #3085d6;
}

.swal2-styled.swal2-cancel {
  background-color: #d33;
}

.suggestionList {
  background-color: #343a40;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.selectedItem {
  background-color: #007bff; /* 파란색 배경 */
  color: white; /* 흰색 글자 */
}

.suggestionItem {
  padding: 0.5rem 0.8rem;
}
