.color-theme-basic {
  background-color: #191c24;
  color: #ffffff;
}

.color-theme-top {
  background-color: #333;
  color: #ffffff;
}

.color-theme-left {
  background-color: #191c24;
  color: #ffffff;
}

.color-theme-content {
  background-color: #191c24;
  color: #ffffff;
}

.color-theme-content-bg {
  background-color: #000;
  color: #ffffff;
}

.custom-btn {
  background-color: #343a40;
  border-color: #343a40;
}

.custom-btn:hover, .custom-btn:focus, .custom-btn:active {
  background-color: #23272b;
  border-color: #23272b;
}

.custom-btn-navy {
  background-color: #004175;
  border-color: #004175;
}

.custom-btn-navy:hover, .custom-btn-navy:focus, .custom-btn-navy:active {
  background-color: #004175;
  border-color: #004175;
}

/* FullCalendar */

.fc-day-disabled {
  background-color: #23272b !important;
}

.cal-select {
  background: #004141;
}

.fc .fc-scrollgrid-section-sticky > * {
  background-color: #33394a;
}
